/*導覽列*/

nav {
    height: 70px;
}

.navbar {
    background-color: #CC9966;
}

li a {
    font-size: 20px;
}

li a:hover {
    color: #663300;
    background-color: lightyellow;
}

.navbar-toggler {
    background-color: lightgray;
}

.nav-link {
    padding: 20px;
}

.btn-oblong {
    border-radius: 30px 30px 30px 30px;
    background-color: rgb(165, 117, 190);
    border-color: rgb(165, 117, 190);
}

@media (max-width:992px) {
    nav {
        height: auto;
    }
    .nav-link {
        padding: 10px;
    }
}


/*投影片*/

.slide-pic {
    width: 100%;
    height: 500px;
}

.carousel-caption {
    vertical-align: inherit;
}

@media (max-width:768px) {
    .slide-pic {
        width: 100%;
        height: 300px;
    }
}


/*關於我*/

article {
    padding: 10px;
}

hr {
    margin: 50px;
}

.text {
    padding: 15px;
}


/*腳*/

footer {
    background-color: #CC9966;
    margin-top: 10px;
}